<div class="container mt-4">
    <h2>Información del Proyecto</h2>
  
    <!-- Información de los autores -->
    <div class="section">
      <h3>Autores</h3>
      <p>Ronald Stiwar Caipa Lopez</p>
      <p>Jhon Mario Durango Rodríguez</p>
    </div>
  
    <!-- Video de YouTube -->
    <div class="section">
      <h3>Video del Proyecto</h3>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/wUwI_CFkfWg?si=vPe_BWv_hXsMA-v9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>    </div>
  
    <!-- Cuadro de texto -->
    <div class="section">
      <h3>Objetivos del proyecto</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus facilis nulla quam itaque quidem ab adipisci enim quis unde suscipit, impedit nesciunt illo voluptatem cum asperiores possimus amet dolorum maxime?</p>
    </div>
  
    <!-- PDF -->
    <div class="section mt-4">
      <h3>Documento PDF</h3>
      <a href="assets/docs/Plantillas SCRUM.pdf" target="_blank" class="btn btn-primary">Ver PDF</a>
      <p>hola</p>
    </div>
  </div>
  