.landing-container {
    display: flex;
    justify-content: space-between; /* Mantiene el espacio entre las secciones */
    align-items: center;
    height: 100vh;
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    padding: 0 2rem;
}

.welcome-section {
    max-width: 70%; /* Mantiene el texto en la mitad izquierda */
}

.welcome-message {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.button-group {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 0.8rem 1.5rem;
    background-color: #00DD00; /* Verde brillante */
    color: #000; /* Texto negro */
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #00AA00; /* Verde más oscuro al pasar el cursor */
}

.image-section {
    flex: 1; /* Permite que la sección de imagen ocupe el espacio restante */
    display: flex;
    justify-content: flex-start; /* Alinea la imagen a la izquierda */
    align-items: center; /* Centra la imagen verticalmente */
    margin-left: 10rem; /* Agrega margen a la izquierda de la imagen */
}

.image-section img {
    max-width: 80%; /* Asegúrate de que la imagen no exceda el contenedor */
    height: auto;
    border-radius: 10px;
}


.parallax {
  /* Tamaño completo del contenedor */
  position: relative;
  height: 100vh; /* La altura será igual a la del viewport */
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-attachment: fixed; /* Esto crea el efecto parallax */
  background-position: center;
  background-repeat: no-repeat;
}

.parallax-1 {
  background-image: url('/assets/images/contaminacion_bogota.jpg');
}

.parallax-2 {
  background-image: url('/assets/images/humo.jpg');
}

/* Estilo para el contenido sobre el parallax */
.parallax-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.separator {
  width: 80%;
  height: 2px;
  margin: 20px auto;
  background-color: #00AA00; /* Verde */
}
