.main-header-bar-navigation {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  background-color: #000; /* Fondo negro */
  padding: 1rem; /* Espaciado interno */
  border-bottom: 2px solid #00AA00; /* Línea verde separadora */
}

.menu-item {
  margin: 0 1rem; /* Espaciado entre los enlaces */
  padding: 0.5rem 1rem; /* Espaciado interno de los enlaces */
  color: #00DD00; /* Verde brillante */
  text-decoration: none; /* Quita el subrayado */
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-item:hover {
  background-color: #00AA00; /* Verde más oscuro al pasar el cursor */
  color: #fff; /* Texto blanco al pasar el cursor */
}


/* Ajustes para el contenedor principal */
.landing-container {
  display: flex;
  flex-direction: column; /* Asegura que el contenido esté debajo del menú */
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
  padding: 5rem 2rem 2rem; /* Agrega espacio superior para el menú */
}

/* Sección de bienvenida */
.welcome-section {
  max-width: 70%;
  text-align: center;
  margin-top: 2rem;
}

.welcome-message {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* Botones */
.button-group {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.8rem 1.5rem;
  background-color: #00DD00;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #00AA00;
}

/* Sección de imagen */
.image-section {
  flex: 1;
  display: flex;
  justify-content: flex-end; /* Alinea la imagen a la derecha */
}

.image-section img {
  max-width: 60%;
  max-height: 400px; /* o la altura que mejor se vea */
  object-fit: contain;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}


/* Parallax */
.parallax {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.parallax-1 {
  background-image: url('/assets/images/contaminacion_bogota.jpg');
}

.parallax-2 {
  background-image: url('/assets/images/humo.jpg');
}

.parallax-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.separator {
  width: 80%;
  height: 2px;
  margin: 20px auto;
  background-color: #00AA00;
}
