<div class="landing-container">
  <!-- Menú en la parte superior -->
  <div class="main-header-bar-navigation">
    <a class="menu-item" routerLink="/iniciar-sesion">Iniciar Sesión</a>
    <a class="menu-item" routerLink="/crear-cuenta">Crear Cuenta</a>
    <a class="menu-item" routerLink="/enlaces">Enlaces</a>
    <a class="menu-item" routerLink="/informacion-proyecto">Información del Proyecto</a>
  </div>


  <!-- Sección de bienvenida -->
  <div class="welcome-section">
    <h1 class=" normal-case text-lg font-bold text-white" >Bienvenido a
      Aire<span class="text-green-500">|UD</span></h1>
    <p class="description">
      Explora nuestra plataforma y comienza tu experiencia hoy mismo.
    </p>
  </div>

  <!-- Sección de imagen -->
  <div class="image-section">
    <img src="assets/images/distrital1.png" alt="Welcome Image" />
  </div>
</div>


<!-- Primer Parallax -->
<div class="parallax parallax-1">
  <div class="parallax-content">
    <h2>Monitoreo Inteligente | Facultad Tecnológica</h2>
<p>Visualiza en tiempo real el estado de nuestros sistemas y recursos, optimizando la gestión y la eficiencia.</p>
    <div class="separator"></div>
  </div>
</div>

<!-- Contenido intermedio
<div class="landing-container">
  <h3>Más información</h3>
  <p>Esta es una sección normal sin efecto parallax.</p>
</div> -->

<!-- Segundo Parallax
<div class="parallax parallax-2">
  <div class="parallax-content">
    <h2>Título de la Sección 2</h2>
    <p>Texto descriptivo sobre esta sección.</p>
    <div class="separator"></div>
  </div>
</div> -->
