<div class="container mt-5">
    <!-- Mensaje de bienvenida -->
    <div class="card text-center">
      <div class="card-body">
        <h1 class="card-title">¡Bienvenido!</h1>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, distinctio eligendi. Reprehenderit, delectus magni! Necessitatibus odio ipsam, ullam amet cum dolorem eos enim sed! Impedit atque autem id error commodi!
        </p>
      </div>
    </div>
  
    <!-- Imagen de tamaño mediano -->
    <div class="text-center mt-4">
        <img src="assets/images/2b.jpg" alt="Welcome Image">

    </div>
  </div>
  