<footer class="footer sm:footer-horizontal bg-black text-neutral-content items-center p-4">
  <aside class="grid-flow-col items-center">
    <h3 class="text-lg font-bold">Aire<span class="text-green-500">|UD</span></h3>

  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
  <p>Copyright © 2025 - All right reserved</p>
  </nav>
</footer>










<!-- <footer class="site-footer">
  <div class="footer-content">
    © 2024 Mi Aplicación. Todos los derechos reservados.
  </div>
</footer> -->
